<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; color: green}
      .content { margin-top : 55px;}
      .failure { color : red }
      .failureBorderColor { border-color : red}
      .successBorderColor { border-color : green}
    </style>
  </head>
<body ng-app="LunchCheck">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://ysfdev.github.io/ng-playground">YSF NG-PLAYGROUND</a>
      </div>
    </div>
  </nav>
   <div ng-controller="LunchCheckController" class="container content">
     <h1>Lunch Checker</h1>
         <div class="form-group ">
             <input id="lunch-menu" type="text"
             ng-model="lunchItems"
             ng-class="{'failureBorderColor' : invalidInput, 'successBorderColor' : enableSuccessBorderColor}"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <span class="label label-warning">Note: "empty" items are not consider towards total item list count.</span>
         </div>
         <div class="form-group">
             <button ng-click="checkIfTooMuch()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="{failure: invalidInput}">
           {{ message }}
         </div>
   </div>
   <footer>
    <nav class="navbar navbar-inverse  navbar-fixed-bottom" role="navigation">
      <div class="container text-center">
          <p class="navbar-text col-md-12 col-sm-12 col-xs-12">
            Checkout my other projects in my <a href="http://github.com/ysfdev">Github</a>
          </p>
      </div>
    </nav>
  </footer>
   <script src="js/angular.min.js"></script>
   <script src="js/app.js"></script>
</body>
</html>
